body {
    background-image:url(./assets/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.jumbotron {
    color: white;
    background-color: #522dcb;
}


h1 {
    text-align: center;
}

h5 {
    color: white;
    background-color: #522dcb;
    padding: 0 0 0 8px;
    border-radius: 2px;
}

p {
    border: 2px solid #522dcb;
    padding: 0 0 0 5px;
    background-color: white;
}


.card-header {
    color: white;
    background-color: #522dcb;
}


img {
    width: 200px;
    height: 200px;
    border: 2px solid #522dcb;
    align-content: center;
    margin: 20px 20px 0 40px;
    background-color: white;
}

.footer {
    text-align: center;
    background-color: #522dcb;
    margin-top: 20px;
    color: white;
}